@charset "UTF-8";

body {
    background-color: #012030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

main {
    background: #13678A;
    border-radius: 10px;
    width: 1120px;
    padding: 15px;
    margin: auto;
}

section {
    background: #caeefe;
    border-radius: 10px;
    width: 1100px;
    padding: 10px;
    box-shadow: 3px 3px 5px #072734;
    padding: 10px;
    margin: 15px auto;
}

section li {
    margin-bottom: 10px;
}

h1 {
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 5px #041c26;
}

h2 {
    color: #012030;
}

a {
    text-decoration: none;
    color: #012030;
    background: #ffffff;
    border-radius: 15px;
    padding: 3px;
}

a:hover {
    color: brown;
}

mark {
    color: #ffffff;
    background-color: #012030;
}

.link-externo {
    text-align: right;
}

.link-externo a {
    box-shadow: 3px 3px 5px #072734;
}

.botao-inicio {
    text-align: center;
}