@charset "UTF-8";

@font-face {
    font-family: factory heroes;
    src: url('font/Factory\ Heroes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url('font/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: suezone;
    src: url('font/SuezOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background: url('imagem/background.jpg') repeat;
}

main {
    background: #13678A;
    border-radius: 10px;
    width: 1120px;
    padding: 15px;
    margin: auto;
}

section {
    background: #e2f4fb;
    border-radius: 10px;
    width: 1100px;
    padding: 10px;
    box-shadow: 3px 3px 5px #072734;
    padding: 10px;
    margin: 15px auto;
}

section li {
    margin-bottom: 10px;
}

h1 {
    font-family: 'factory heroes';
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 5px #041c26;
}

h2, h3 {
    font-family: 'suezone';
    color: #012030;
}

p, li, a {
    font-family: ubuntu;
}

a {
    text-decoration: none;
    color: #012030;
    background: #ffffff;
    border-radius: 15px;
    padding: 3px;
}

a:hover {
    color: brown;
}

mark {
    color: #ffffff;
    background-color: #012030;
}

.link-externo {
    text-align: right;
}

.link-externo a {
    box-shadow: 3px 3px 5px #072734;
}

.botao-inicio {
    text-align: center;
}